<!-- FEATURES Section -->
<section class="features">
  <div class="features__wrapper features__wrapper--top">
    <article class="feature feature--split">
      <div class="feature__content">
        <h2 class="feature__title">Join Drumee community</h2>

        <p class="feature__desc">
          Connect with the Drumee community. Share, collaborate, and stay in
          control of your space.
        </p>

        <button class="feature__btn">Join the community</button>
      </div>

      <div class="feature__media">
        <img
          src="../../../src/assets/new/images/communities_hero.png"
          alt="Privacy preview"
          class="feature__image"
        />
      </div>
    </article>
  </div>
</section>

<div id="communities"></div>
