:root {
  /* ===============================
     PRIMARY
  ============================== */
  --primary-50: #fbf5ff;
  --primary-100: #f4e7ff;
  --primary-200: #ebd4ff;
  --primary-300: #dcb2ff;
  --primary-400: #c781ff;
  --primary-500: #b251fb;
  --primary-600: #9821ee;
  --primary-700: #881dd3;
  --primary-800: #731dac;
  --primary-900: #5e198a;
  --primary-950: #410467;

  /* ===============================
     NEUTRAL
  ============================== */
  --neutral-50: #f9f9fa;
  --neutral-100: #f4f4f6;
  --neutral-200: #ebecf0;
  --neutral-300: #dddfe4;
  --neutral-400: #c3c6cc;
  --neutral-500: #afb3bb;
  --neutral-600: #8c929c;
  --neutral-700: #5b616d;
  --neutral-800: #414651;
  --neutral-900: #222732;
  --neutral-950: #0a0c11;
}
